@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

<h2>This is a triumph?</h2>

<table id="FilmTable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                releaseDate
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                genre
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                price
            </th>
        </tr>
    </thead>


</table>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js">
</script>